<!DOCTYPE html>
<html lang="en">
<head>
<title>404 | hack not found</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<link href="/static/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="/static/css/style.css" rel="stylesheet" type="text/css"/>
<script src="/static/js/jquery-2.1.4.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<!--scrolling-js-and-script-->
</head>
<body>
<div class="header" id="home">
<div class="header-top">
<section class="col-2">
<div class="hed-top-slider">

</div>
<div class="menu-bar">
<div class="container">
<!--
<div class="logo">
<a href="index.html">JSS Hackathon</a>
</div>
-->
<div class="menu">																
<a href="#" class="right_bt" id="activator"><img src="/static/images/nav_icon.png" alt="/" class="img-responsive logo-wid"></a>
<div class="box" id="box">
<div class="box_content_center">
<div class="menu_box_list">
<ul id="nav-pane">
<li><a href="#abot_me" class="scroll">About The Event</a></li> 
<li><a href="#our-sports" class="scroll">The Schedule</a></li> 
<li><a href="#blog" class="scroll">The Challenges</a></li>
<li><a href="#faqs" class="scroll">The FAQs</a></li>
<li><a href="#sports-flow" class="scroll">The Prizes</a></li>
<li><a href="#contact" class="scroll">Contact</a></li>
</ul>
</div>
<a class="boxclose" id="boxclose"><img src="/static/images/close.png" alt=""></a>
</div>                
</div>
<script type="text/javascript">

var $ = jQuery.noConflict();
$('#nav-pane a').click(function(){
$('#box').animate({'top':'-700px'},1);
});
$(function() {
$('#activator').click(function(){
$('#box').animate({'top':'0px'},500);
});
$('#boxclose').click(function(){
$('#box').animate({'top':'-700px'},500);
});
});
$(document).ready(function(){

//Hide (Collapse) the toggle containers on load
$(".toggle_container").hide(); 

//Switch the "Open" and "Close" state per click then slide up/down (depending on open/close state)
$(".trigger").click(function(){
$(this).toggleClass("active").next().slideToggle("slow");
return false; //Prevent the browser jump to the link anchor
});

});
</script>
</div>

<div class="clearfix"></div>
</div>
</div>
<img class="img-responsive col-md-2 col-md-offset-5 col-xs-8 col-xs-offset-2" src="/static/images/404.png">
   <div class="clearfix"></div>
   <br>
    <h1 style="color:#036">404 ! OOPS Hack not found..</h1>
    <br>
    <br>
    <br>
<div class="footer">
<div class="container">
<ul class="contact" id="contact">
<li class="contact-hdn">Contact</li>
<li class="contact-mail"><a href="mailto:mil@jssaten.ac.in">mmil@jssaten.ac.in</a></li>
<li class="cont-number">Akash Tewari: +91-9971846461</li>
<li class="cont-number">Deshraj Yadav: +91-9555344456</li>
<li class="cont-number">Nikhil Verma: +91-7503705892</li>
</ul>
<ul class="social">
    <li><a href="https://www.facebook.com/jsshack15" class="fb"></a></li>
<li><a href="#" class="twit"></a></li>
</ul>
</div>
</div>
    </section>
</div>
    </div>
</body>
</html>