<!DOCTYPE html>
<html lang="en">
    <head>
    <title>JSS Hackathon 2015</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="keywords" content="" />
		<script type="application/x-javascript"> addEventListener("load", function() {setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
			<link href="/static/css/bootstrap.min.css" rel="stylesheet" type="text/css">
			<link href="/static/css/style.css" rel="stylesheet" type="text/css"/>
			<script src="/static/js/jquery-2.1.4.min.js"></script>
			<script src="/static/js/bootstrap.min.js"></script>
            <script type="text/javascript" src="/static/js/move-top.js"></script>
            <script type="text/javascript" src="/static/js/easing.js"></script>
            <script type="text/javascript">
                jQuery(document).ready(function($) {
                    $(".scroll").click(function(event){		
                        event.preventDefault();
                        $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
                    });
                });
            </script>
        <!--scrolling-js-and-script-->
    </head>
    <body>
        <div class="header" id="home">
            <div class="header-top">
                <section class="col-2">
                    <div class="hed-top-slider">
                        <img class="image-background img-responsive" src="/static/images/hackathon.png"/ > 

                        <!-- <div id="myCarousel" class="carousel slide" data-ride="carousel">
                          <!-- Indicators -->
                          <!-- <ol class="carousel-indicators">
                            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#myCarousel" data-slide-to="1"></li>
                            <li data-target="#myCarousel" data-slide-to="2"></li>
                            <li data-target="#myCarousel" data-slide-to="3"></li> 
                          </ol> -->

                          <!-- Wrapper for slides -->
                          <!--<div class="carousel-inner" role="listbox">
                            <div class="item active">
                              <img src="/static/images/hd-tp-bg.jpg" alt="...">
                            </div>
                             <div class="item">
                              <img src="/static/images/hd-tp-bg2.jpg" alt="...">
                            </div>
                            <div class="item">
                              <img src="/static/images/hd-tp-bg.jpg" alt="...">
                            </div>
                            <div class="item">
                              <img src="/static/images/hd-tp-bg4.jpg" alt="...">
                            </div> 
                          </div>
                        </div> -->

                    </div>
                    <div class="menu-bar">
                        <div class="container">
<!--
                            <div class="logo">
                                <a href="index.html">JSS Hackathon</a>
                            </div>
-->
                            <div class="menu">																
                                <a href="#" class="right_bt" id="activator"><img src="/static/images/nav_icon.png" alt="/" class="img-responsive logo-wid"></a>
                                    <div class="box" id="box">
                                       <div class="box_content_center">
                                           <div class="menu_box_list">
                                               <ul id="nav-pane">
                                                   <li><a href="#abot_me" class="scroll">About The Event</a></li> 
                                                   <li><a href="#our-sports" class="scroll">The Schedule</a></li> 
                                                   <li><a href="#blog" class="scroll">The Challenges</a></li>
                                                   <li><a href="#faqs" class="scroll">The FAQs</a></li>
                                                   <li><a href="#profile" class="scroll">The Rulebook</a></li>
                                                   <li><a href="#sports-flow" class="scroll">The Prizes</a></li>
                                                   <li><a href="#contact" class="scroll">Contact</a></li>
                                               </ul>
                                            </div>
                                            <a class="boxclose" id="boxclose"><img src="/static/images/close.png" alt=""></a>
                                        </div>                
                                    </div>
                                     <script type="text/javascript">

                                    var $ = jQuery.noConflict();
                                        $('#nav-pane a').click(function(){
                                            $('#box').animate({'top':'-700px'},1);
                                        });
                                        $(function() {
                                            $('#activator').click(function(){
                                                    $('#box').animate({'top':'0px'},500);
                                            });
                                            $('#boxclose').click(function(){
                                                    $('#box').animate({'top':'-700px'},500);
                                            });
                                        });
                                        $(document).ready(function(){

                                        //Hide (Collapse) the toggle containers on load
                                        $(".toggle_container").hide(); 

                                        //Switch the "Open" and "Close" state per click then slide up/down (depending on open/close state)
                                        $(".trigger").click(function(){
                                            $(this).toggleClass("active").next().slideToggle("slow");
                                            return false; //Prevent the browser jump to the link anchor
                                        });

                                        });
                                    </script>
                             </div>

                    <div class="clearfix"></div>
                            </div>
                                                    </div>
                    <div class="row helping">                           
                    <p class="supporters">Helping Hands</p>
                    <div class="col-md-2 col-xs-6">                    
                        <img src="/static/images/gdg.png" class="img-responsive">
                    </div>
                    <div class="col-md-2 col-xs-6">                    
                        <img src="/static/images/gdg.png" class="img-responsive">
                    </div>
                    
                        <div class="clearfix"></div>
                        <a href="javascript:" class="showRegisterForm btn btn-primary">Register</a>
                        <div class="registerContainer hidden" style="overflow: hidden">                            
                            <h2 style="color:black">Register</h2>
                            <div class="regForm col-md-6" id='reg-Form' width="100%" style="color:#036">
                                <form action="" method="post" class="registration-form" onsubmit="return false;">
                                    {% csrf_token %}
                                    <div class='form-group pad10'>
                                        <span class="col-md-6">
                                            <label class="sr-only" for="name">Full name</label>
                                            <input type="text" name="name" placeholder="We can call you..." class="form-first-name form-control" id="name" required>
                                        </span>
                                        <span class="col-md-6">
                                            <label class="sr-only" for="email">Email</label>
                                            <input type="text" name="email" placeholder="Your Mailbox" class="form-email form-control" id="email" required>
                                        </span>
                                        <div class="form-group">
                                            <label>Phone Number</label>
                                            <input type="tel" class="form-control" name="phone_number" required pattern="[0-9]{10}">
                                        </div>
                                    </div>
                                    <div class='form-group pad10'>
                                        <span class="col-md-6">
                                            <label class="sr-only" for="github">Github Link</label>
                                            <input type="url" name="github" placeholder="Your Github profile link" class="form-first-name form-control" id="github" required>
                                        </span>

                                        <span class="col-md-6">
                                            <label class="sr-only" for="linkedin">LinkedIn</label>
                                            <input type="url" name="linkedin" placeholder="Your Linked In profile link" class="form-first-name form-control" id="linkedin" required>
                                        </span>
                                    </div>

                                    <div class="t-shirt">
                                        <span>
                                            Your T-Shirt Size
                                        </span>
                                        <span>
                                            <select class="" id="size-select" name="size">
                                                <option value = 'S'>Small</option>
                                                <option value = 'M'>Medium</option>
                                                <option value = 'L'>Large</option>
                                                <option value = 'XL'>X-Large</option>
                                                <option value = 'XXL'>XX-Large</option>
                                            </select>
                                        </span>
                                    </div>

                                    <div class="form-group">
                                        <input type="checkbox" placeholder="Your Linked In profile link" class="getHardware" id="hardware" value="yes">
                                        <label class="checkbox" for="hardware">Will you be needing extra hardware?</label>
                                    </div>
                                    <div id='iot' class="hidden">
                                        <div class="about_me_bottom">
                                            <div class="abt-me-text">
                                                <h3>We have the following IOT devices: 

                                                </h3>
                                                <ul class='iotdev'>
                                                    <li>Arduino UNO</li>
                                                    <li>Raspberry Pi</li>
                                                    <li>UV/IR Sensor</li>
                                                    <li>Proximity Sensor</li>
                                                    <li>Temperature/ Humidity Sensor</li>
                                                    <li>Ultrasonic Distance Measuring Sensor</li>
                                                    <li>Range Sensor</li>
                                                </ul>

                                            </div>
                                            <div class="clearfix"></div>
                                        </div>

                                        <div class="form-group">
                                            <textarea name="hardware_required" class="form-first-name form-control" id="hard-req" resize='none' rows="4" style="height: 40%; resize: none"></textarea>
                                        </div>


                                    </div>
                                        <div class="form-group">
                                            <label>MAC Address</label>
                                            <input type="text" class="form-control" name="mac_address" class="form-control" required> 
                                        </div>
                                    <button type="submit" class="btn" id='gobutton'>Register!!</button>
                                </form>
                            </div>
                        </div>

                        <div id="success" class="hidden" style="color:#036">
                            <div class="about_me_bottom">
                                <div class="abt-me-text">
                                    <h2 style="color:#036">Bang Bang!!<br>You are registered for the Hackathon..!! 
                                    </h2>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>

                        <div id="failure" class="hidden">
                            <div class="about_me_bottom">
                                <div class="abt-me-text">
                                    <h2 style="color:#036">Aww Snap!!<br>Something went wrong.<br>
                                        It seems you have already registered for the Hackathon-2015.
                                    </h2>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>



                    
                    
                    </div>
                </section>
                <svg id="clouds" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
                    <path d="M-5 100 Q 0 20 5 100 Z
                             M0 100 Q 5 0 10 100
                             M5 100 Q 10 30 15 100
                             M10 100 Q 15 10 20 100
                             M15 100 Q 20 30 25 100
                             M20 100 Q 25 -10 30 100
                             M25 100 Q 30 10 35 100
                             M30 100 Q 35 30 40 100
                             M35 100 Q 40 10 45 100
                             M40 100 Q 45 50 50 100
                             M45 100 Q 50 20 55 100
                             M50 100 Q 55 40 60 100
                             M55 100 Q 60 60 65 100
                             M60 100 Q 65 50 70 100
                             M65 100 Q 70 20 75 100
                             M70 100 Q 75 45 80 100
                             M75 100 Q 80 30 85 100
                             M80 100 Q 85 20 90 100
                             M85 100 Q 90 50 95 100
                             M90 100 Q 95 25 100 100
                             M95 100 Q 100 15 105 100 Z">
                    </path>
                </svg>
            </div>
        <!--header-top-->
            <div class="header-bottom" id="abot_me">
                <div class="container">
                    <div class="about_me_top">
                        <h1>&lt; About The Event &gt;</h1>                 <div class="clearfix"></div>
                    </div>
                    <div class="about_me_bottom">
                        <div class="abt-me-text"><h3>Strength lies in differences not in similarities.  JSS Hackathon  is an intra college event in which a

                            creative community of programmers , designers - from novices to the experienced , indolent to the 

                            go getter will come together to contrive team projects or hacks from scratch. It might sound a bit 

                            tedious to hack or start as a beginner. But remember there is always a first time ! 

                            We’re piqued to see what you will create.</h3>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    <!--header-part-ends-->
        <div class="content">
            <section class="two col-2 color ss-style-boxes">
				<div class="container">
                    <div class="work-flow" id="our-sports">
                       <h3>&lt; The Schedule &gt;</h3>
                        <span class="bar-line"></span>
                        <div class="load_more"> 
                            <ul id="myList">
                            <!-- These are our grid blocks -->
                            <li style="display:list-item;">
                                <div class="l_g">
                                    <div class="col-xs-6 ld-mr-grd">
                                        <div class="l_g_r">
                                            <img src="/static/images/spf3.jpg" alt="" class="img-circle spt-img-wid schedule-img" >
                                            <div class="ld-mr-txt lft">
                                                <h4>Registrations</h4>
                                                <p>0800 hours</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-6 ld-mr-grd">
                                        <div class="l_g_r">
                                            <img src="/static/images/spf2.jpg" alt="" class="img-circle spt-img-wid schedule-img schedule-img-r" >
                                            <div class="ld-mr-txt rt">
                                                <h4>Inauguration</h4>
                                                <p>0900 hours</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </li>
                            <li style="display:list-item;">
                                <div class="l_g">
                                    <div class="col-xs-6 ld-mr-grd">
                                        <div class="l_g_r">
                                            <img src="/static/images/spf3.jpg" alt="" class="img-circle spt-img-wid schedule-img" >
                                            <div class="ld-mr-txt lft padd">
                                                <h4>Tech Talk</h4>
                                                <p>0920 hours</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-6 ld-mr-grd">
                                        <div class="l_g_r">
                                            <img src="/static/images/spf2.jpg" alt="" class="img-circle spt-img-wid schedule-img schedule-img-r" >
                                            <div class="ld-mr-txt rt">
                                                <h4>Hackathon Begins</h4>
                                                <p>1000 hours</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </li>
                            <li style="display:list-item;">
                                <div class="l_g">
                                    <div class="col-xs-6 ld-mr-grd">
                                        <div class="l_g_r">
                                            <img src="/static/images/spf3.jpg" alt="" class="img-circle spt-img-wid schedule-img" >
                                            <div class="ld-mr-txt lft">
                                                <h4>Lunch</h4>
                                                <p>
1300 hours</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-6 ld-mr-grd">
                                        <div class="l_g_r">
                                            <img src="/static/images/spf2.jpg" alt="" class="img-circle spt-img-wid schedule-img schedule-img-r" >
                                            <div class="ld-mr-txt rt">
                                                <h4>Tea and Snacks</h4>
                                                <p>1700 hours</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </li>
                            <li style="display:list-item;">
                                <div class="l_g">
                                    <div class="col-xs-6 ld-mr-grd">
                                        <div class="l_g_r">
                                            <img src="/static/images/spf3.jpg" alt="" class="img-circle spt-img-wid schedule-img" >
                                            <div class="ld-mr-txt lft">
                                                <h4>Hackathon Ends (Day-2)</h4>
                                                <p>
1000 hours</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-6 ld-mr-grd">
                                        <div class="l_g_r">
                                            <img src="/static/images/spf2.jpg" alt="" class="img-circle spt-img-wid schedule-img schedule-img-r" >
                                            <div class="ld-mr-txt rt">
                                                <h4>Prize Distribution</h4>
                                                <p>1700 hours</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </li>
                            <li style="display:list-item;">
                                <div class="l_g">
                                    <div class="col-xs-6 ld-mr-grd">
                                        <div class="l_g_r">
                                            <img src="/static/images/spf3.jpg" alt="" class="img-circle spt-img-wid schedule-img" >
                                            <div class="ld-mr-txt lft">
                                                <h4>Dinner</h4>
                                                <p>1900 hours</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-6 ld-mr-grd">
                                        <div class="l_g_r">
                                            <img src="/static/images/spf2.jpg" alt="" class="img-circle spt-img-wid schedule-img schedule-img-r" >
                                            <div class="ld-mr-txt rt">
                                                <h4>Breakfast (Day-2)</h4>
                                                <p>
0800 hours
</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </li>
                            <div class="clearfix"></div>
                            <!--//-->
                            </ul>
                            </div>
                    </div>
                </div>
			</section>
        </div>
        <div class="content-bottom">
            <div class="blog" id="blog">
                <div class="container">
                    <h3>&lt; The Challenges &gt;</h3>
                    
                    <div class="col-md-4 blog_grid">
                        <ul class="blg-gd-hd">
                            <li class="heading">e-Governance under Digital India:</li>
                            <li class="heading">Problem Statement: </li>
                            <li class="para">Existing Government system work in more of a pen-paper mode system, with work done in office environment, which makes the work slow to process, and going through various channels, which includes both time and money.</li>
                            <li class="heading">Proposed Solution: </li>
                            <li class="para">e-Governance would be promoted through a centralised initiative to the extent necessary, to ensure citizen centric service orientation, interoperability of various e-Governance applications and optimal utilisation of ICT infrastructure/ resources, while adopting a decentralised implementation model.</li>
                            <li class="date">Expected to run on: WEB/MOBILE</li>
                        </ul>
                        
                        <hr>
                        
                        
                        <ul class="blg-gd-hd">
                            <li class="heading">College Centralization System:</li>
                            <li class="heading">Problem Statement: </li>
                            <li class="para">Educational Institutes like Engineering Colleges, etc are have troubles when it comes to having centralized data of its students, faculties, the interaction between them, curriculum activities, etc.</li>
                            <li class="heading">Proposed Solution: </li>
                            <li class="para">Coming up with a system, when there would be student-student, student-faculty, faculty-faculty, administration-faculty-student interaction. 
</li>
                            <li class="date">Expected to run on: WEB/MOBILE</li>
                        </ul>
                        
                        <hr>
                        
                        <ul class="blg-gd-hd">
                            <li class="heading">The Game:</li>
                            <li class="heading">Problem Statement: </li>
                            <li class="para">- There is a board game played between two players. The board has nXn equal squares, where 8 &lt;= n &lt;= 15 (similar to a chess board).<br>
- Only two kings will be placed on the board at the starting of the game (one at 1,1 and second at n,n position).<br>
- The kings can move one square in any direction - up, down, to the sides, and diagonally, just like chess.<br>
- Each square can be visited at-most once by either of the kings.
- The king who gets killed, or is out of moves loses the game.
What you need to do?<br>
-&gt; You need to write a bot, which can play the game on your behalf. And expose this bot as a web service.<br>
-&gt; Your web service should run on port 8080 and expose three APIs:<br>
<br>
URL Type Parameter Sample Response Purpose<br>

/ping GET -- {ok: true} <br>
To let us know that your bot server is alive <br>
/start GET y,o,g {ok:true} For you to initialize the round. Here y 
/play GET m {m:”1|2”} m : Move made by your opponent.<br>
Note: By convention all positions are represented as x|y where x and y are respective coordinates on the board. Bottom left board is 1|1.<br>
</li>
        
                            <li class="date">Expected to run on: WEB/MOBILE</li>
                        </ul>
                        
                        <hr>
                        
                        
                        
                    </div>
                    <div class="col-md-4 blog_grid">
                        <ul class="blg-gd-hd">
                            <li class="heading">Health Care:</li>
                            <li class="heading">Problem Statement: </li>
                            <li class="para">India being such a large country, it’s tough to collect health care data. A structured data can help improve services in country.</li>
                            <li class="heading">Proposed Solution: </li>
                            <li class="para">Design and prototype a mobile/web app that supports the collection and communication of health care data (clinical, consumer and environmental)</li>
                            <li class="date">Expected to run on: WEB/MOBILE</li>
                        </ul>
                        <hr>
                        <ul class="blg-gd-hd">
                            <li class="heading">Women Security:</li>
                            <li class="heading">Problem Statement: </li>
                            <li class="para">Women safety is an issue that is of concern in many countries including India. Technological security measures can be of major help in tackling this situation.</li>
                            <li class="heading">Proposed Solution: </li>
                            <li class="para">Design and prototype a mobile app that can help to contact the person to their family/authorities and others.</li>
                            <li class="date">Expected to run on: MOBILE</li>
                        </ul>
                        <hr>
                        
                        <ul class="blg-gd-hd">
                            <li class="heading">Clean India or Swachh Bharat Abhiyan:</li>
                            <li class="heading">Problem Statement: </li>
                            <li class="para">Build Application that would help in attaining Swachh Bharat Abhiyaan.</li>
                            <li class="heading">Proposed Solution: </li>
                            <li class="para">Develop and design a working prototype web or mobile application that could be useful and helpful in cleaning and maintaining the aestheic beauty o four cities .</li>
                            <li class="date">Expected to run on: WEB/MOBILE/DESKTOPS</li>
                        </ul>
                        
                         <hr>
                        
                        <ul class="blg-gd-hd">
                            <li class="heading">Sustainable Development:</li>
                            <li class="heading">Problem Statement: </li>
                            <li class="para">Build application that would bring about awareness among people for sustainable development, help them understand its importance and providing information as to how to attain the goal of sustainable development.</li>
                            <li class="date">Expected to run on: WEB/MOBILE/DESKTOPS</li>
                        </ul>
                        
                        
                        <hr>
                        
                    </div>
                    <div class="col-md-4 blog_grid">
                        <ul class="blg-gd-hd">
                            <li class="heading">e-Bhasha:</li>
                            <li class="heading">Problem Statement: </li>
                            <li class="para">WService that will provide the digital user interface in all regional languages.Spread digital content in many local languages. This problem focuses on making online content available for Indian citizens in their own language. A platform, which will help develop and disseminate digital language content to India's largely non-English speaking population.</li>
                            <li class="heading">Proposed Solution: </li>
                            <li class="para">Detect the input data (audio, text) and  generate captions in multiple languages.</li>
                            <li class="date">Expected to run on: WEB/MOBILE</li>
                        </ul>
                        
                        <hr>
                        <ul class="blg-gd-hd">
                            <li class="heading">Standards For Building Govt Websites With Regional Support:</li>
                            <li class="heading">Problem Statement: </li>
                            <li class="para">Having a common framework to build government websites which is easy to use even for a non technical person. </li>
                            <li class="heading">Proposed Solution: </li>
                            <li class="para">Possible features of the framework could be... <br>
- Out of box crowdsourcing support for regional languages.<br>
- Creating and managing new web pages for different projects or region websites (state websites or govt. department websites).<br>
- Auto populated web vocabulary/sitemaps for entire information system across country which would act as entry point to find any information about govt.<br>
- Uniform design language (Like Material Design is the default design language for Android apps) for smooth UX.</li>
                            <li class="date">Expected to run on: WEB/MOBILE</li>
                        </ul>
                        
                        <hr>
                        <ul class="blg-gd-hd">
                            <li class="heading">Energy Conservation:</li>
                            <li class="heading">Problem Statement: </li>
                            <li class="para">Build application that would bring about awareness among people for Energy Conservation, help them understand its importance and providing information as to how to attain the goal of energy conservation.</li>
                            
                            <li class="date">Expected to run on: WEB/MOBILE</li>
                        </ul>
                        
                        <hr>
                        
                    </div>
            <div class="clearfix"></div>
                </div>
            </div>
            <svg id="stamp" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
				<path d="M0 0 Q 2.5 40 5 0 
						 Q 7.5 40 10 0
						 Q 12.5 40 15 0
						 Q 17.5 40 20 0
						 Q 22.5 40 25 0
						 Q 27.5 40 30 0
						 Q 32.5 40 35 0
						 Q 37.5 40 40 0
						 Q 42.5 40 45 0
						 Q 47.5 40 50 0 
						 Q 52.5 40 55 0
						 Q 57.5 40 60 0
						 Q 62.5 40 65 0
						 Q 67.5 40 70 0
						 Q 72.5 40 75 0
						 Q 77.5 40 80 0
						 Q 82.5 40 85 0
						 Q 87.5 40 90 0
						 Q 92.5 40 95 0
						 Q 97.5 40 100 0 Z">
				</path>
			</svg>
            
            <div class="profile" id="faqs">
                <div class="container">
                    <h3>&lt; The FAQs &gt;</h3>
                    <div class="profile-top">
                        <ul class="blg-gd-hd">
                            <li class="heading">When and where ?</li>
                            
                            <li class="para">JSS Hackathon 2015 will begin in the morning of  Saturday, November 21st  , and continue through 

the  morning of  November 22nd  which makes it   28 hours of enthrallment , excitement, creation 

and fun  on the grounds of JSS Academy of Technical Education , NOIDA in the multipurpose hall.</li>
                           
                        </ul>
                        <ul class="blg-gd-hd">
                            <li class="heading">Am I eligible to participate ?</li>
                            
                            <li class="para">There is no such eligibility criteria  to participate in this event . JSS Hackathon is an  open platform

for  all the college students. You don’t really need to be a hard-core programmer to be a part of it . 

Irrespective  of  your  field of study , anyone and everyone can attend the same. We suggest you to 

give it a shot as an experience never goes wasted !</li>
                        </ul>
                        
                        <ul class="blg-gd-hd">
                            <li class="heading">Should I be in a team ?</li>
                            
                            <li class="para">We encourage everybody to be in a team. You can work alone, but that would be less fun.

Teamwork is the secret that makes common people achieve uncommon results .</li>
                           
                        </ul>
                        
                        <ul class="blg-gd-hd">
                            <li class="heading">What am I supposed to build and how does it help me?</li>
                            
                            <li class="para">The event is divided into sections  . You will be given problem statements according to your 

respective chosen category  .  You are expected to develop a working  product with maximum 

functionality  by the end of the event and are  free to choose any technology or programming 

language . Other events involve coding, solving puzzles by coding the given problem statement etc. 

These activities will act as a platform in improvising your ideas and exploring your talent  . 

The main aim of the event is to emphasize the importance of practical knowledge and give the 

participants a feel of the competitive world in the industry.</li>
                           
                        </ul>
                        
                        <ul class="blg-gd-hd">
                            <li class="heading">What is the registration fee?</li>
                            
                            <li class="para">Well that depends on the team size...<br>
                                <br>
                            Teamsize: 1 member -- Rs.200<br>
                            Teamsize: 2 members -- Rs.300<br>
                            Teamsize: 3 members -- Rs.400<br>
                            Teamsize: 4 members -- Rs.500 </li>
                           
                        </ul>
                        
                    </div>
                    <div class="clearfix"></div>
                    </div>  
                </div>
            </div>
          
<!--
            
            <div class="profile" id="profile">
                <div class="container">
                    <h3>&lt; The Rulebook &gt;</h3>
                    <div class="profile-top">
                        <ul class="rules">
                            <li>asdas</li>
                            <li>asdas</li>
                            <li>asdas</li>
                            <li>asdas</li>
                            <li>asdas</li>
                            <li>asdas</li>
                            
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                    </div>  
                </div>
                               <svg id="clouds2" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">

                    <path d="M-5 100 Q 0 20 5 100 Z
                             M0 100 Q 5 0 10 100
                             M5 100 Q 10 30 15 100
                             M10 100 Q 15 10 20 100
                             M15 100 Q 20 30 25 100
                             M20 100 Q 25 -10 30 100
                             M25 100 Q 30 10 35 100
                             M30 100 Q 35 30 40 100
                             M35 100 Q 40 10 45 100
                             M40 100 Q 45 50 50 100
                             M45 100 Q 50 20 55 100
                             M50 100 Q 55 40 60 100
                             M55 100 Q 60 60 65 100
                             M60 100 Q 65 50 70 100
                             M65 100 Q 70 20 75 100
                             M70 100 Q 75 45 80 100
                             M75 100 Q 80 30 85 100
                             M80 100 Q 85 20 90 100
                             M85 100 Q 90 50 95 100
                             M90 100 Q 95 25 100 100
                             M95 100 Q 100 15 105 100 Z">
                    </path>
            </svg> -->
            <div class="sports-flow" id="sports-flow">
                <div class="container">
                    <h3>&lt; The Prizes &gt;</h3>
                    <div class="sports-flw-grids">
                        <div class="sports-flow-grid">
                            <div class=" spfone">
                            <img src="/static/images/spf3.jpg" alt="" class="img-circle spt-img-wid">
                            </div>
                            <div class="position-box-left">
                                <h4>Winner</h4>
                                <p>INR 10,000</p>
                            </div>
                        </div>
                        <div class="sports-flow-grid">
                            <div class="spftwo">
                            <img src="/static/images/spf5.jpg" alt="" class="img-circle spt-img-wid">
                            </div>
                            <div class="position-box-right">
                                <h4>First Runner Up</h4>
                                <p>INR 5,000</p>
                            </div>
                        </div>
                        <div class="sports-flow-grid">
                            <div class=" spfone">
                            <img src="/static/images/spf2.jpg" alt="" class="img-circle spt-img-wid">
                            </div>
                            <div class="position-box-left">
                                <h4>Second Runner Up</h4>
                                <p>INR 2,000</p>
                            </div>
                        </div>
                        <div class="sports-flow-grid">
                            <div class="spftwo">
                                <img src="/static/images/spf5.jpg" alt="" class="img-circle spt-img-wid">
                            </div>
                            <div class="position-box-right">
                                <h4>Chess Bot</h4>
                                <p>INR 8,000<br><strong>NOTE:</strong> The Competition will<br> be held only if<br> there are minimum<br> 10 teams participating.</p>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <svg id="slit" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
				<path id="slitPath2" d="M50 100 C49 80 47 0 40 0 L47 0 Z"></path>
				<path id="slitPath3" d="M50 100 C51 80 53 0 60 0 L53 0 Z"></path>
				<path id="slitPath1" d="M47 0 L50 100 L53 0 Z"></path>
			</svg>
            <div class="footer">
                <div class="container">
                    <ul class="contact" id="contact">
                        <li class="contact-hdn">Contact</li>
                        <li class="contact-mail"><a href="mailto:mmil@jssaten.ac.in">mmil@jssaten.ac.in</a></li>
                        <li class="cont-number">Akash Tewari: +91-9971846461</li>
                        <li class="cont-number">Deshraj Yadav: +91-9555344456</li>
                        <li class="cont-number">Nikhil Verma: +91-7503705892</li>
                    </ul>
                    <ul class="social">
                        <li><a href="#" class="fb"></a></li>
                        <li><a href="#" class="twit"></a></li>
                        <li><a href="#" class="gpls"></a></li>
                        <li><a href="#" class="drib"></a></li>
                    </ul>
                </div>
                 <script type="text/javascript">
                $(document).ready(function() {
                    $().UItoTop({ easingType: 'easeOutQuart' });
                });
            </script>
<a href="#home" id="toTop" class="scroll" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
            </div>
        </div>
        <script type="text/javascript">
        $(document).on('click','.getHardware',function(){
            if($(this).is(':checked')){
                if($('#iot').hasClass('hidden')){
                    $('#iot').hide().removeClass('hidden').slideDown();
                }
            }else{
                if(!$('#iot').hasClass('hidden')){
                    $('#iot').slideUp('normal',function(){$(this).addClass('hidden')});
                }                
            }
        });
        $(document).on('click','.showRegisterForm',function(){
            $(this).fadeOut().addClass('hidden');
            $('.registerContainer').hide().removeClass('hidden').slideDown('slow');
        })
        var csrftoken = document.getElementsByName('csrfmiddlewaretoken')[0].value;
$('.registration-form').submit(function(event) {
  form = $(this);
  url = form.attr('action');
  formData = form.serializeArray();
  obj = {};
  $.each(formData,function(index,value){
    obj[value.name] = value.value;
  });
$.ajax({
    url:url,
    type:'POST',
    data:formData
  }).done(function(data){
    if(data.event == 1){
        form[0].reset();
        $('.registerContainer').slideUp('normal');
        $('#failure').slideUp().addClass('hidden');
        $('#success').hide().removeClass('hidden').slideDown('normal');
    }
  })
  .error(function(xhr, error) {
    // console.debug(xhr.responseText);
    $('#failure').hide().removeClass('hidden').slideDown('normal');    
  })
  .always(function() {
  });
});  
        </script>
    </body>
</html>