<div title="1210460">
<div style="font-family:'Lucida Grande','Lucida Sans Unicode',Tahoma,sans-serif">
Hi {{ name }}, we are glad that people like you are interested in CodeMania 2015.<br>
<br>
Thank you for participating<br>
<br>
<strong>What next?</strong><br>
Brush up your programming skills for this event and come prepared. The event is of 4 hours on 18th November 2015. Please find more details on the <a href="http://hackathon.jssaten.ac.in">website</a>.<br>
<br>
Note: If you are interested in participating to the Hackathon 2015 then go ahead and apply on the website <a href="http://hackathon.jssaten.ac.in"></a>.The event is going to be a great success and do join us. You can win lot of prizes and t-shirts etc. Looking forward for your application.<br>

Keep in touch via <a href="http://hackathon.jssaten.ac.in" target="_blank">Official website</a> and <a href="https://www.facebook.com/jsshack15/" target="_blank">Facebook</a> until then.<br><br><br>
