<div title="1210460">
<div style="font-family:'Lucida Grande','Lucida Sans Unicode',Tahoma,sans-serif">
Hi {{ name }}, we are glad that people like you are interested in creating a some new product.<br>
<br>
Thank you from the JSS-Hackathon 2015 team!<br>
<br>
<strong>What next?</strong><br>
We have limited capacity at the JSS Hackathon 2015, November 21 - 22, 2015, so our team will carefully review your application based on your previous experience with open source contributions, hackathons, technical skills and accomplishments as listed on LinkedIn.<br>
<br>
You’ll hear from us shortly after we complete the review process. Please wait to hear from us. Keep in touch via <a href="http://hackathon.jssaten.ac.in" target="_blank">Official website</a> and <a href="https://www.facebook.com/jsshack15/" target="_blank">Facebook</a> until then.<br><br><br>
