<div title="1210460">
<div style="font-family:'Lucida Grande','Lucida Sans Unicode',Tahoma,sans-serif">
Hi..
<br><br>
We are glad to receive an overwhelming response from you guys. Kudos to you all.
<br><br>
Congratulations !!!!
<br><br>
You just got invited to one of the biggest events of JSS Academy Of Technical Education, Noida.
Now, its in your hands to do the magic and make it a huge success.
<br><br>
A small task for you before the doom's day. Just let us know if you'll be coming or not by clicking the link below before 3 P.M. 20th november 2015. 
<br>We'll get the things ready for you.
<br><br>
Please take note of the following points before coming to the event: 
<ul>
	<li>Please bring a xerox copy of your PAN Card( mandatory for availing free bitcoin offers)</li>
	<li>Please bring a valid ID card like Voter Id Card, Driving License or Student ID card. </li>
	<li>Try to bring some warm clothes because its getting cold at night.</li>
	<li>We have a limited stock of the hardware devices. So, if you have have applied for the hardware devices like Arduino, Raspberry Pi etc then do come as early as possible.</li>
	<li>It will be great if you can bring your own hardware kit.</li>
</ul>
<strong>Confirmation Link: </strong> <a href="http://hackathon.jssaten.ac.in/confirmation-email/{{ uid }}"> http://hackathon.jssaten.ac.in/confirmation-email/{{ uid }}</a>
<br><br>
Let us know if you have any query. 
<br> 
<br> 
Get your gears ready !!
<br>
See you soon
