<div title="1210460">
<div style="font-family:'Lucida Grande','Lucida Sans Unicode',Tahoma,sans-serif">
Hi..
<br><br>
We are glad to receive an overwhelming response from you guys. Kudos to you all.
<br><br>
Congratulations !!!!
<br><br>
You just got invited to one of the biggest events of JSS Academy Of Technical Education, Noida.
Its in your hands to do the magic and make it a huge success.
<br><br>
A small task for you before the doom's day. Just let us know if you'll be coming or not by clicking the link below before 10 A.M. 20th november 2015. 
<br>We'll get the things ready for you.
<br><br>
Please take note of the following points before coming to the event: 
<ul>
	<li>Please bring a valid id like Voter Id Card, Driving License or PAN Card</li>
	<li>Try to bring some warm clothes with you because its getting really cold at night.</li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
</ul>
<strong>Confirmation Link: </strong> <a href="/confirmation-email/{{ uid }}"> http://hackathon.jssaten.ac.in/confirmation-email/{{ uid }}</a>
<br>
<br>
Get your gears ready !!
<br>
See you soon
