<!DOCTYPE html>
<html lang="en">
    <head>
    <title>JSS Hackathon 2015</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="keywords" content="" />
        <script type="application/x-javascript"> addEventListener("load", function() {setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
            <link href="/static/css/bootstrap.min.css" rel="stylesheet" type="text/css">
            <link href="/static/css/style.css" rel="stylesheet" type="text/css"/>
            <script src="/static/js/jquery-2.1.4.min.js"></script>
            <script src="/static/js/bootstrap.min.js"></script>
            <script type="text/javascript" src="/static/js/move-top.js"></script>
            <script type="text/javascript" src="/static/js/easing.js"></script>
            <script type="text/javascript">
                jQuery(document).ready(function($) {
                    $(".scroll").click(function(event){     
                        event.preventDefault();
                        $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
                    });
                });
            </script>
        <!--scrolling-js-and-script-->
    </head>
    <body>
        <div class="header" id="home">
            <div class="header-top">
                <section class="col-2">
                    <div class="hed-top-slider">
                        <img class="image-background img-responsive" src="/static/images/hackathon.png"/ > 
                    </div>
                    <div class="menu-bar">
                        <div class="container">
                            <div class="menu">                                                              
                                <a href="#" class="right_bt" id="activator"><img src="/static/images/nav_icon.png" alt="/" class="img-responsive logo-wid"></a>
                                    <div class="box" id="box">
                                       <div class="box_content_center">
                                           <div class="menu_box_list">
                                               <ul id="nav-pane">
                                                   <li><a href="#abot_me" class="scroll">About The Event</a></li> 
                                                   <li><a href="#our-sports" class="scroll">The Schedule</a></li> 
                                                   <li><a href="#blog" class="scroll">The Challenges</a></li>
                                                   <li><a href="#faqs" class="scroll">The FAQs</a></li>
                                                   <li><a href="#sports-flow" class="scroll">The Prizes</a></li>
                                                   <li><a href="#contact" class="scroll">Contact</a></li>
                                               </ul>
                                            </div>
                                            <a class="boxclose" id="boxclose"><img src="/static/images/close.png" alt=""></a>
                                        </div>                
                                    </div>
                                     <script type="text/javascript">

                                    var $ = jQuery.noConflict();
                                        $('#nav-pane a').click(function(){
                                            $('#box').animate({'top':'-700px'},1);
                                        });
                                        $(function() {
                                            $('#activator').click(function(){
                                                    $('#box').animate({'top':'0px'},500);
                                            });
                                            $('#boxclose').click(function(){
                                                    $('#box').animate({'top':'-700px'},500);
                                            });
                                        });
                                        $(document).ready(function(){

                                        //Hide (Collapse) the toggle containers on load
                                        $(".toggle_container").hide(); 

                                        //Switch the "Open" and "Close" state per click then slide up/down (depending on open/close state)
                                        $(".trigger").click(function(){
                                            $(this).toggleClass("active").next().slideToggle("slow");
                                            return false; //Prevent the browser jump to the link anchor
                                        });

                                        });
                                    </script>
                             </div>

                    <div class="clearfix"></div>
                            </div>
                                                    </div>
<div class="row helping">   
                                            
                        <div class="registerContainer" style="overflow: hidden">                            
                            <h2 style="color:black">Confirmation for Hackathon-2015</h2>
                            <div class="regForm col-md-6 col-md-offset-3" id='reg-Form' width="100%" style="color:#036">
                                <form action="" method="post" class="registration-form" onsubmit="return false;">
                                    {% csrf_token %}
                                    <div class="row">
                                        
                                    <div class="form-group col-md-6">
                                            <label for="college">Your College Name</label>
                                            <input type="text" name="college" placeholder="Your College Name" class="form-email form-control" id="college" required>
                                    </div>
                                    </div>
                                    <div class="row">
                                        
                                    <div class="form-group col-md-6">
                                    <label for="status">Are you coming to the Event ?</label><br>
                                    <input type="radio" name="status" value="True" id="status">Yes<br>
                                    <input type="radio" name="status" value="False" id="status">No
                                    </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <button type="submit" class="btn" id='gobutton'>Submit !!</button>
                                    <div class="clearfix"></div>
                                    
                                </form>
                            </div>
                        </div>

                        <div id="success" class="hidden" style="color:#036">
                            <div class="about_me_bottom">
                                <div class="abt-me-text">
                                    <h2 style="color:#036">Thanks a lot for responding !  
                                    </h2>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>

                        <div id="failure" class="hidden">
                            <div class="about_me_bottom">
                                <div class="abt-me-text">
                                    <h2 style="color:#036">Aww Snap!!<br>Something went wrong.<br>
                                        Can you try sometime later. 
                                    </h2>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>                                            
                </section>
            </div>
                 <script type="text/javascript">
                $(document).ready(function() {
                    $().UItoTop({ easingType: 'easeOutQuart' });
                });
            </script>
<a href="#home" id="toTop" class="scroll" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
            </div>
        </div>
        <script type="text/javascript">
        $(document).on('click','.getHardware',function(){
            if($(this).is(':checked')){
                if($('#iot').hasClass('hidden')){
                    $('#iot').hide().removeClass('hidden').slideDown();
                }
            }else{
                if(!$('#iot').hasClass('hidden')){
                    $('#iot').slideUp('normal',function(){$(this).addClass('hidden')});
                }                
            }
        });
        $(document).on('click','.showRegisterForm',function(){
            $(this).fadeOut().addClass('hidden');
            $('.registerContainer').hide().removeClass('hidden').slideDown('slow');
        })
        var csrftoken = document.getElementsByName('csrfmiddlewaretoken')[0].value;
$('.registration-form').submit(function(event) {
  form = $(this);
  url = form.attr('action');
  formData = form.serializeArray();
  obj = {};
  $.each(formData,function(index,value){
    obj[value.name] = value.value;
  });
$.ajax({
    url:url,
    type:'POST',
    data:formData
  }).done(function(data){
    if(data.event == 1){
        form[0].reset();
        $('.registerContainer').slideUp('normal');
        $('#failure').slideUp().addClass('hidden');
        $('#success').hide().removeClass('hidden').slideDown('normal');
    }
  })
  .error(function(xhr, error) {
    console.debug(xhr.responseText);
    $('#failure').hide().removeClass('hidden').slideDown('normal');    
  })
  .always(function() {
  });
});  
        </script>
    </body>
</html>
